@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat",sans-serif;
}
.logo{
    width:10%;
    cursor: pointer;
}
li,a,button{
 
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #006666;

}
._links{
    list-style: none;
}
._links li{
    display:inline-block ;
    padding: 0px    20px;
}
._links li a{
    transition: all 0.3s ease 0s;
}
._links li a:hover{
    color: #FFE082;
}
button{
    padding: 9px 25px;
    background-color: rgba(0,153,153,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0,179,179,0.8);
}

hr{
    height: 3px;
    background-color: #004d4d ;
    border-color: #004d4d;
}
footer{
    background-color: #006666;
    height:100px;
    font-size: 14px;
}
footer p{
    padding: 10px 10px;
    text-align: center;
    color: #ecf0f1;
}
#link{
    color: #e6ffff;
    padding-left: 5px;
}


.bg-image {
    width: 100%;
    height: 600px;
    background-image: url("https://img.freepik.com/free-vector/realistic-coronavirus-background_52683-46586.jpg?w=826&t=st=1673459722~exp=1673460322~hmac=d8d809588023c6b36cae6131af6bf84b7528269aafce4e3d3390ae47324ac7c7");

    /* Add the blur effect */
    -webkit-filter: blur(2px);
    filter: blur(2px);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    color: white;
    font-weight: 900;
    line-height: 35px;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 10px;
    font-size: larger;
    text-align: center;
}