@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); 

*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: "Montserrat",sans-serif;
}
h2{
    text-align: center;
    margin-top: 60px;
    font-family: "Montserrat",sans-serif;
}
.form{

    width: 40%;
    margin: auto;
    margin-top:30px;
    display: flex;
    justify-content: center;
}
input{
    width: 230px;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    border: 2px solid black ;

}
#designation,#priority,#vaccine{
    margin-bottom: 20px;
    width: 230px;
    height: 40px;
    display: block;
    border-radius: 10px;
    border: 2px solid black;
 
}
input[type="submit"]{
    border: 0;
    border-radius: 50px;
    background-color: rgba(0, 102, 102, 1);
    color: #ecf0f1;
    font-weight: bold;
}
#btn:hover{
    background-color: rgba(0, 153, 153, 0.8);
}
main{
    height: 70vh;
}
hr{
    margin-top: 20px;
}