@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); 

*{
    font-family: "Montserrat",sans-serif;
}
h2{
    text-align: center;
    margin-top: 20px;
}
#details{
    width: 60%;
    margin: auto;
    border: 1px solid  black;
    margin-top: 2rem;
    background-color: #e6e6ff;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    line-height: 25px;
}
main{
    height: 70vh;
}
hr{
    margin-top: 20px;
}